@font-face {
    font-family: "Baksheesh";
    src: url("Baksheesh.ttf") format("truetype");
}

body, html { min-height: 100%; }
body {
	background : url("img/bg.jpg") center no-repeat;
    background-size: cover;

    /*absolute
    filter: blur(2px);
    opacity: .5;*/

    font-family: "Baksheesh";
}

img{
    position: center;
    /*absolute*/
}

h1 {
	color: white;
}

.click{
	border: 0px;
	padding: 0px;
}

#unity{
	margin: auto;
	width:288px;
	height:432px;
	background:url("img/Unity.png") no-repeat;
/*-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border : 2px ridge black;*/
}

#blender{
	margin: auto;
	width:288px;
	height:432px;
	background:url("img/Blender.png") no-repeat;
}